GHL_PRIVATE_INTEGRATION_TOKEN=
GHL_LOCATION_ID=q6aoolrnpI2gQd8yaTyy
GHL_CALENDAR_ID=
GHL_TIMEZONE=America/Los_Angeles
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@YOUR_PROJECT.supabase.co:5432/postgres
